@import "../styles/variable";

.Main_Container {
  height: 30vh;
  .container {
    margin: 0 auto;
    width: 1000px;
    .Footergrid_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 1rem;
      .connect_container {
        position: relative;
        text-align: center;
        // width: 60%;
        color: $dark-blue-color;
        img {
          width: 90%;
        }
        h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .create_container {
        width: 60%;
        img {
          width: 90%;
        }
      }
      .learn_container {
        width: 60%;
        img {
          width: 90%;
        }
      }
    }
  }
}
