@import "../styles/variable";

.Main_Container {
  height: 10vh;
  background-color: white;
  .container {
    margin: 0 auto;
    width: 1000px;
    .Footergrid_container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 6rem;
      .connect_container {
        img {
          width: 20%;
        }
      }
      .create_container {
        img {
          width: 20%;
        }
      }
      .learn_container {
        img {
          width: 20%;
        }
      }
    }
  }
}
