@import "../styles/variable";
.Navbar_container {
  height: 12vh;
  padding: 1rem;
  position: sticky;
  background-color: $light-color;
  box-shadow: 0px 20px 7px -20px rgba(0, 0, 0, 0.4);
  .container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // grid-template-columns: 1fr 3fr 1fr;
    .Navbar_logo {
      width: 20%;
      padding-left: 0.7rem;
      .logo {
        width: 30%;
        padding-bottom: 1rem;
        cursor: pointer;
      }
    }
    .Navbar_location {
      display: flex;
      .location {
        .location_img {
          background-color: $dark-blue-color;
        }
      }
      .location_details {
        text-align: center;
        inline-size: 500px;
        p {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
    .Navbar_Menu {
      overflow: hidden;
      // width: 10%;
      display: flex;
      margin-left: 3rem;
      margin-bottom: 1rem;
      .text {
        background-color: #f44343;
        padding: 0.5rem 0.5rem;
        margin-right: 1rem;
        height: 40px;
        width: 200px;
        text-align: center;
        cursor: pointer;
        color: white;
        h4 {
          font-size: 0.9rem;
        }
      }
      .bell {
        img {
          width: 15%;
          cursor: pointer;
        }
      }
    }
  }
}
