@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
@import "../src/components/NotFound/Notfound.scss";
@import "../src/components/navbar/navbar.scss";
@import "../src/components/HeaderBody/Headerbody.scss";
@import "../src/components/Hearderfooter/Headerfooter.scss";
@import "../src/components/Sign-in/Signin.scss";
@import "../src/components/Register/Register.scss";
@import "../src/components/Form/form.scss";
@import "../src/components/styles/learn.scss";
@import "../src/components/Modal/Modalpage.scss";
